
.auth-container {
    width:50%;
    background-color: #FFFFFF;
    place-items: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    
}

.auth-wrapper {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-groupv2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.input-groupv3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.input-groupv2 input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #bcbcbc;
    font-size: 1rem;
}

.input-group input {
    padding: 10px;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    font-size: 1rem;
}

.auth-wrapper h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #853953;
    font-weight: 1000;
}

.auth-wrapper p a {
    color: #646cff;
    text-decoration: underline;
    font-weight: 500;
    color: #853953;
}

.auth-wrapper p {
    opacity: 70%;
}

.submit-btn {
    display: flex;
    justify-content: center;
}

.auth-wrapper .submit-btn button {
    padding: 10px;
    width: 50%;
    background-color: #853953;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.auth-wrapper .submit-btn button:hover {
    background-color: #6b2f45;
}


.social-account-divider {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.social-account-btns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}


.social-account-btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 50%;
    background-color: transparent;
    border: black solid 1px;
    color: black;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    gap: 10px;
}

.social-account-btns button:hover {
    background-color: #f0f0f0;
}

.image-container {
    width:50%;
    background-color: #F3F4F4;
    justify-items: center;
    align-content: center;
}

.image-wrapper {
    width: 80%;
    height: 90%;
    background-image: url('../assets/modern-house.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    padding: 20px;
}







