.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 110vh;
    width: 100%;
    background-color: #FFFFFF;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
    gap: 20px;
}

.welcome-content {
    padding: 5px;
    margin: 0;
    border-radius: 10px;
}

.welcome-content p {
    margin: 0;
    opacity: 0.5;
    font-style: italic;
}

.main-content {
    display: flex;
    gap: 20px;
}

.left-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 75vh;
    gap: 10px;
}

.left-content .cards-wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 40vh;
    gap: 2vh;
}

.cards-container .card {
    width: 50%;
    background-color: #F3F4F4;
    border-radius: 20px;
}

.inner-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5px;
}

.upper-card .ratings {
    display: flex;
    gap: 5px;
    align-items: center;

    background-color: greenyellow;
    width: 40%;
    height: 50%;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
}

.lower-card {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: left;
    font-size: small;
    padding: 10px;
}

.lower-card span {
    font-size: 35px;
    font-weight: bolder;
}

.lower-card p {
    margin: 0;
    opacity: 0.5;
    font-style: italic;
}



.upper-card {
    display: flex;
    width: 90%;
    text-align: left;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.icon-box {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 20px;
    background-color: white;
}

.icon-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.left-content .card-long {
    background-color: #F3F4F4;
    width: 40%;
    height: 40vh;

}

.content-wrapper {
    display: flex;
    gap: 20px;
    height: 100%;
}

.left-content .cards-container {
    display: flex;
    width: 100%;
    height: 25vh;
    gap: 15px;
}

.chart-container {
    width: 100%;
    height: 100%;
    background-color: #F3F4F4;
}

.right-content {
    width: 30%;
    background-color: #F3F4F4;
    padding: 20px;
}